body{
    background-image: url(../images/bg2\ \(1\).jpg);
    width: 100%;
    background-size: cover;
}

.container{
    text-align: center;
    border-width: 300px;
}
.row{
    background-color: black;
    opacity: 0.5;
    color: white;
}
.aln{
    text-align: center;
}
.btn:hover{
    stop-opacity: inherit;
    
}